* {
	margin: 0;
	padding: 0;
	cursor: url(img/monkey.png) 25 30, auto;
}

nav {
	display: flex;
	justify-content: center;
	height: 80px;
	background-color: #a1e8cc;
}

nav .logo {
	width: 80px;
	height: 80px;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Pacifico', cursive;
	font-size: 80px;
	color: #eedb28;
	margin: 40px 0px 30px 0px;
}

h1:hover {
    animation: 1s multicolor;
}
@keyframes multicolor {
    0% {
        color: #eedb28;
    }
    33% {
        color: #f927cc;
    }
    66% {
        color: #46d4f4;
    }
    100% {
        color: #eedb28;
    }
}

main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin-bottom: 50px;
    margin: 0px 150px 0px 150px;
    padding: 10px 20px 10px 20px;
    background-color: #a1e8cc;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.4s;
}

main:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.image {
	border-radius: 50%;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 480px;
	height: 360px;
}

p {
	grid-column-start: 4;
	grid-column-end: span 2;
	grid-row-start: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: #f927cc;
}

.btn {
	grid-column-start: 4;
	grid-row-start: 2;
	background: #fffc00;
	background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
	background: linear-gradient(to right, #ffffff, #fffc00);
	color: #f927cc;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	padding: 15px 32px;
	border-radius: 30px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.14), 0 3px 6px rgba(0,0,0,0.18);
	transition-duration: 0.4s;
}

.btn:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.16);
	opacity: 0.8;
}



hr {
	margin: 80px 200px 60px 200px;
	border: 0;
	height: 1px;
	background: #f927cc;
	grid-column-start: 2;
	grid-column-end: 5;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	margin: 80px 0px 60px 0px;
}

.rs1 {
	background-color: #1da1f2;
	border-radius: 20px;
	width: 100px; 
	height: 100px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.rs1:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.rs2 {
	background: #12c2e9;
	background: -webkit-linear-gradient(to right, #f7a94b, #e94c56, #a52fb7);
	background: linear-gradient(to right, #f7a94b, #e94c56, #a52fb7);
	border-radius: 20px;
	width: 100px; 
	height: 100px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.rs2:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.rs3 {
	background-color: #ff0000;
	border-radius: 20px;
	width: 100px; 
	height: 100px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.rs3:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.rs-img {
	padding: 5px 0px 0px 5px;
	width: 90px; 
	height: 90px;
	opacity: 0;
	transition: .2s;
}

.rs-img:hover {
	opacity: 1;
}

::-moz-selection {
    background: #a1e8cc;
    color: #fff;
}
::selection {
    background: #a1e8cc;
    color: #fff;
}